<app-toolbar></app-toolbar>

<div class="container">
  <div class="greeting1">
    <img src="assets\greeting1.jpg" style="height: 10rem; width: 10rem;" />
  </div>
  <div class="message">
    <span>Order Placed Successfully</span>
  </div>
  <div class="greeting2" style="margin-top: 10px;">
    <span>hurry!!!your order is confirmed</span>
  </div>
  <div class="greeting2">
    <span>the order id is #123456 save the oreder id for</span>
  </div>
  <div class="greeting2">
    <span>further Communication...</span>
  </div>

  <div class="contact-heading"><span>Contact Us</span></div>
  <div class="contactus">
    <div class="card">
      <mat-card class="email">
        <mat-card-title
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: larger;
            background-color: rgba(131, 4, 4, 0.829);
          "
          >Email us</mat-card-title
        >
        <mat-card-content
          style="
            display: flex;
            justify-content: center;
            font-size: medium;
            align-items: center;
            padding-top: 10px;
          "
          >patilrupesh990@gmail.com</mat-card-content
        >
      </mat-card>
    </div>
    <div class="card">
      <mat-card class="email">
        <mat-card-title
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: rgba(131, 4, 4, 0.829);
            font-size: larger;
          "
          >Contact us</mat-card-title
        >
        <mat-card-content
          style="
            display: flex;
            justify-content: center;
            font-size: small;
            align-items: center;
            padding-top: 10px;
          "
          >+91-9558062808</mat-card-content
        >
      </mat-card>
    </div>
    <div class="card">
      <mat-card class="email">
        <mat-card-title
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: larger;
            background-color: rgba(131, 4, 4, 0.829);
          "
          >Address</mat-card-title
        >
        <mat-card-content
          style="
            display: flex;
            justify-content: center;
            font-size: small;
            align-items: center;
            padding-top: 10px;
          "
          >225,Lx-Complex,j.k.Cement
          Road,Sector-3,Kadodara,Surat</mat-card-content
        >
      </mat-card>
    </div>
  </div>
  <div
    style="
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    "
  >
    <button
      mat-button
      style="
        height: 45px;
        width: 200px;
        background-color: #3371b5;
        color: whitesmoke;
        font-family: Lato;
      "
      [routerLink]="['']"
    >
      COUNTINUE SHOPPING
    </button>
  </div>
</div>
