<mat-toolbar
  class="container docs-navbar-header"
  style="background-color: rgba(131, 4, 4, 0.829); height: 80px;"
  fullscreen
>
  <mat-toolbar-row>
    <!-- <img src="assets\LOGO11.png" class="logo" /> -->
    <!-- <div fxLayoutAlign="center center">
      <button><mat-icon>home</mat-icon></button>
    </div> -->
    <img src="assets\booklogo_1_45x45.png" class="logo" />
    <span class="title">BookStore</span>
    <div class="search">
      <mat-card>
        <div class="searchicon">
          <mat-icon style="font-size: 30px;" prefix>search</mat-icon>
        </div>
        <div class="searchboxinput">
          <input
            type="text"
            placeholder="Search"
            [(ngModel)]="bookName"
            (input)="bookSearch()"
            style="height: 40px; width: 800px;"
          />
        </div>
      </mat-card>
    </div>
    <div class="cart" *ngIf="isUser">
      <a routerLink="/cart">
        <!-- <span
          *ngIf="!isbudget"
          style="margin-left: 80px; padding-bottom: 80px;"
          matBadge="{{ totalItem }}"
        ></span>
        <span
          *ngIf="isbudget"
          style="margin-left: 80px; padding-bottom: 80px;"
          matBadge="{{ totalItem }}"
        ></span>
        <img
          src="assets\cart-icon-png-26.jpg"
          style="
          
            margin-top: 15px;
            color: grey;
            height: 50px;
            width: 50px;
            padding-left: 0.5em;
          "
      />-->
        <mat-icon
          style="
            margin-top: 20px;
            margin-left: 80px;
            color: #fff;
            font-size: 40px;
            padding-left: 0.5em;
          "
          matBadge="{{ totalItem }}"
          matBadgeSize="small"
          >add_shopping_cart</mat-icon
        >
      </a>
    </div>
    <div class="last-icon">
      <a
        ><img
          [matMenuTriggerFor]="vertebrates"
          src="assets\account_circle-24px.svg"
          style="
            margin-left: 80px;
            color: grey;
            height: 50px;
            width: 50px;
            margin-top: 20px;
            padding-left: 0.5em;
          "
      /></a>

      <div style="width: 10em;">
        <mat-menu #vertebrates="matMenu" class="menuStyle" style="width: auto;">
          <div class="div-profilepic">
            <div class="image-upload">
              <label for="file-input">
                <img
                  src="assets\profilePic.jpg"
                  style="
                    height: 110px;
                    width: 110px;
                    padding: 0px;
                    margin: 0px;
                  "
                />
              </label>
              <input id="file-input" type="file" />
            </div>
          </div>
          <div class="profile-content">
            <div>
              <h3 style="color: rgb(65, 64, 64);">{{ name }}</h3>
              <h4 style="color: rgb(71, 82, 94);">{{ uName }}</h4>
            </div>
          </div>

          <div class="div-profile">
            <div class="div-signout">
              <button
                [routerLink]="['']"
                (click)="onClickClear()"
                mat-button
                class="signout-button"
              >
                Signout
              </button>
            </div>
          </div>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
