.mat-title {
  color: #fff;
  margin: 0;
  padding-top: 5px;
}

// override of mat input wrapper class
// :host ::ng-deep .mat-form-field-wrapper {
//   margin: 0;
//   padding: 0;
//   background-color: rgba(230, 227, 227, 0.856);
//   opacity: 0.8;
// }

.search {
  background-color: #fff;
  padding: 3px;
  padding-left: 15px;
  width: 100%;
  border-radius: 5px;
  border: none;
}
input.input:focus {
  outline-width: 0;
}
input {
  width: 100%;
  background-color: #fff;
  border: none;
  border-color: #fff;
  font-size: 16px;
}

mat-icon {
  color: #fff;
}
.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 30px;
  border-radius: 5px;
}
.btn-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.btn-upload input[type="file"] {
  position: absolute;
  opacity: 0;
  z-index: 0;
  max-width: 100%;
  height: 100%;
  display: block;
}
.btn-upload .btn {
  padding: 8px 20px;
  background: #c5b86f;
  border: 1px solid #2e6da4;
  color: #fff;
  border: 0;
}
.btn-upload:hover .btn {
  padding: 8px 20px;
  background: #95b464;
  color: #fff;
  border: 0;
}
img {
  cursor: pointer;
  outline: none;
}
