<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>not found</title>
</head>

<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
                <h2>{{ pageNotFoundErrorCode }} - {{ pageNotFoundErrorMessage }}</h2>
            </div>
            <a href="#">Go TO Homepage</a>
        </div>
    </div>
</body>

</html>