<div class="parent" style="align-items: center;">
  <div clas="list-viewer-wrapper">
    <form
      [formGroup]="resetpasswordForm"
      (ngSubmit)="resetpasswordForm.valid && onSubmit()"
      class="example-form"
      noval
    >
      <ngx-spinner
        *ngIf="showSpinner"
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple"
      >
        <p style="font-size: 20px; color: white;">Loading...</p>
      </ngx-spinner>
      <div class="form-items">
        <div class="rowthreed2">
          <h2>Book Store</h2>
        </div>
        <div>
          <h3 style="color: lightgrey;">Enter New Password</h3>
        </div>
        <div class="form-container">
          <br /><br />

          <mat-form-field>
            <mat-icon matPrefix>lock</mat-icon>
            <input
              id="password"
              matInput
              formControlName="password"
              [(ngModel)]="user.password"
              placeholder="Enter New Password"
              [type]="hide ? 'password' : 'text'"
              autocomplete="off"
              required
            />
            <mat-icon matSuffix (click)="hide = !hide">
              {{ hide ? "visibility" : "visibility_off" }}
            </mat-icon>
          </mat-form-field>
        </div>
        <div>
          <button
            [disabled]="!resetpasswordForm.valid"
            style="font-size: 20px; font-weight: bold; color: whitesmoke;"
            mat-button
            type="submit"
            class="divider"
          >
            Change-Password
          </button>
        </div>
        <div><a href="/login">Login??</a><br /></div>
      </div>
    </form>
  </div>
</div>
