.menu-spacer {
  flex: 1 1 auto;
}
.example-form {
  min-height: 350px;
  background-color: transparent;
  width: 450px;
  border-radius: 15px;
  box-shadow: 2px 4px 7px 1px;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.threed {
  color: opacity($color: rgb(22, 22, 26));
  color: rgba($color: rgb(11, 11, 245), $alpha: 1);

  text-shadow: 0 1px 0 #fcf9f9, 0 2px 0 #41393c, 0 3px 0 #0c0b0b,
    0 4px 0 #4331e7, 0 5px 0 #071312, 0 6px 0 #504515;
}
.divider {
  margin-top: 10 px !important ;
  background-color: blue;
  margin: 20px 10px;
  width: 90%;
  height: 50px;
  text-decoration-color: white;
}
