<div class="main-container">
  <div class="container">
    <div class="title">
      Books
      <span
        style="
          font-size: 15px;
          font-family: Lato, Regular;
          color: rgb(139, 136, 136);
        "
        >({{ size }} &nbsp;Items)</span
      >
    </div>
    <div class="sort-choice">
      <form>
        <mat-form-field appearance="outline">
          <mat-label>sort by relevance</mat-label>
          <mat-select
            [(value)]="selectedOption"
            (selectionChange)="onclicksort()"
          >
            <mat-option style="font-family: Lato, Regular;" value="none">
              sort by relevance
            </mat-option>
            <mat-option
              style="font-family: Lato, Regular;"
              value="Price:High To Low"
            >
              Price:High To Low
            </mat-option>
            <mat-option
              style="font-family: Lato, Regular;"
              value="Price:Low To High"
            >
              Price:Low To High
            </mat-option>
            <mat-option value="By Book Name">
              By Book Name
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="addbook" *ngIf="isSeller">
    <button
      class="btn-addbook"
      style="border-radius: 10px; outline: none;"
      (click)="openDialog()"
    >
      ADD BOOK
    </button>
  </div>
  <div class="list-books">
    <div
      class="getAllNotes"
      *ngFor="
        let book of books
          | bookSearch: bookSearch
          | sortbyprice: sortbyprice
          | paginate: { itemsPerPage: 12, currentPage: page, id: 'first' }
      "
      fxLayout="{{ view }}"
      [fxLayoutAlign]="center"
      fxFlexOffset="3"
    >
      <mat-card
        style="height: 21.5em; width: 233px;"
        matTooltip="{{ book.bookDetails }}"
      >
        <mat-card-title
          *ngIf="isSeller"
          (click)="openImageDialog(book.bookId)"
          matTooltip="Update Image"
          ><img
            src="{{ book.bookImage }}"
            style="
              height: 135px;
              width: 105px;
              margin-left: 55px;
              margin-right: 55px;
              padding-top: 20px;
              padding-bottom: 20px;
            "
          />
        </mat-card-title>
        <mat-card-title *ngIf="isUser" matTooltip="Book Image"
          ><img
            src="{{ book.bookImage }}"
            style="
              height: 150px;
              width: 120px;
              margin-left: 55px;
              margin-right: 55px;
              padding-top: 20px;
              padding-bottom: 20px;
            "
          />
        </mat-card-title>

        <mat-card-content style="width: 17em;"
          ><div class="bookname">{{ book.bookName }}</div>
          <div class="authorname">by {{ book.authorName }}</div>
          <div class="price">Rs. {{ book.price }}</div>
          <div
            class="availablity"
            style="font-size: large; color: red;"
            *ngIf="!book.quantity"
          >
            Out Of stock
          </div>
          <div
            class="availablity"
            style="color: rgb(2, 110, 2);"
            *ngIf="book.quantity"
          >
            Available Books: {{ book.quantity }}
          </div>
          <div class="cart-buttons" *ngIf="isUser && book.quantity">
            <div>
              <button
                style="outline: none; border-radius: 5px;"
                class="addtobag"
                (click)="addToBag(book.bookId, book.quantity)"
                #clickState
              >
                ADD TO BAG
              </button>
            </div>
            <div>
              <button
                style="outline: none; border-radius: 5px;"
                [style.background-color]="toggle ? 'white' : 'red'"
                class="wishlist"
              >
                WISHLIST
              </button>
            </div>
          </div>
          <div class="cart-buttons" *ngIf="isSeller">
            <div>
              <button
                style="outline: none; border-radius: 5px;"
                class="addtobag"
                (click)="deleteBook(book.bookId)"
              >
                DELETE
              </button>
            </div>
            <div>
              <button
                style="outline: none; border-radius: 5px;"
                class="wishlist"
                (click)="openDialog2()"
              >
                UPDATE
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div>
    <div class="paginator">
      <pagination-controls
        (pageChange)="page = $event"
        id="first"
      ></pagination-controls>
    </div>
  </div>
  <div class="bottom">
    Copyright &copy; 2020, Bookstore #DI Team. All rights reserved
  </div>
</div>
