.container {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  margin-left: 10%;
  height: auto;
  margin-right: 10%;
  justify-content: space-between;
}
.bottom {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
  bottom: 0px;
  width: 100%;
}
.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.paginator {
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
  font-size: x-large;
  margin-top: 20px;
}
.title {
  font-size: 25px;
  font-weight: bolder;
  font-family: Lato, Regular;
  align-items: flex-start;
  margin-top: 20px;
}
.sort-choice {
  align-content: flex-end;
  align-items: flex-end;
  z-index: 3001;
}

.list-books {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  // z-index: 3001;
}
mat-card {
  display: flex;
  flex-wrap: wrap;
  width: 14.4rem;
  padding-right: 2em;
  border: 1px solid;
  border-color: rgb(240, 238, 238);
  margin-bottom: 20px;
}
.mat-card.mat-card {
  padding: 0px;
}
mat-card-title {
  background: #f5f5f5 0% 0% no-repeat padding-box;
}
.mat-card-title.mat-card-title {
  display: flex;
  height: 171px auto;
  width: 233px;
  align-items: center;
  align-content: center;
}
.bookname {
  margin-left: 20px;
  margin-bottom: 7px;
  font-size: large;
  font-weight: bolder;
  font-size: 14px;
  font-family: Lato, Regular;
}
.authorname {
  margin-left: 20px;
  margin-bottom: 7px;
  font-size: 12px;
  font-family: Lato, Regular;
  color: gray;
}
.price {
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: Lato, Regular;
  font-weight: bolder;
  color: rgb(8, 8, 8);
}
.availablity {
  margin-left: 20px;
  margin-bottom: 12px;
  font-size: 13px;
  font-family: Lato;
  color: rgba(87, 25, 25, 0.904);
}
.cart-buttons {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.btn-addbook {
  height: 50px;
  width: 120px;
  margin-left: 10px;
  color: white;
  background-color: rgba(87, 25, 25, 0.904);
}
.addtobag {
  color: white;
  background-color: #a03037;
  height: 35px;
  width: auto;
  border: none;
  cursor: pointer;
}
.wishlist {
  height: 35px;
  margin-left: 10px;
  width: auto;
  background-color: white;
  cursor: pointer;
}

.out-of-stock {
  background: #ffffff 0% 0% no-repeat padding-box;
  text-align: center;
  padding: 8px 0px;
  font-size: medium;
  position: absolute;
  top: 100px;
  left: 30px;
  right: 30px;
  box-shadow: 0px 3px 8px #00000029;
  border-radius: 2px;
  opacity: 0.9;
  text-transform: uppercase;
}
