<div class="container" align=center>
  <mat-card style="box-shadow: 2px 3px 12px -2px rgba(160, 48, 55, 0.8);">
    <mat-card-header fxLayoutAlign="center">
      <div class="mat-headline">Sign Up</div>
    </mat-card-header>
    <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid">
      <mat-card-content>
        <!-- ngx spinner -->
        <ngx-spinner *ngIf="showSpinner" bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff"
          type="ball-scale-multiple">
          <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
        <div class="name-container" fxLayout="row" fxLayoutAlign="space-between center">
          <!-- first name -->
          <div class="first-name">
            <mat-form-field appearance="outline">
              <mat-label>Firstname</mat-label>
              <input matInput placeholder="Enter Firstname" formControlName="firstName" />
              <mat-error *ngIf="registerForm.get('firstName').hasError('required')">First name
                required</mat-error>
              <mat-error *ngIf="registerForm.get('firstName').hasError('pattern')">Numbers not
                allowed
              </mat-error>
            </mat-form-field>
          </div>
          <!-- last name -->
          <div class="last-name">
            <mat-form-field appearance="outline">
              <mat-label>Lastname</mat-label>
              <input matInput placeholder="Enter Lastname" formControlName="lastName" />
              <mat-error *ngIf="registerForm.get('lastName').hasError('required')">Last name
                required</mat-error>
              <mat-error *ngIf="registerForm.get('lastName').hasError('pattern')">Numbers not
                allowed</mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- email id -->
        <div class="email-id">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter Email" formControlName="email" />
            <mat-icon matSuffix>mail_outline</mat-icon>
            <mat-error *ngIf="registerForm.get('email').hasError('required')">Email required
            </mat-error>
            <mat-error *ngIf="registerForm.get('email').hasError('email')">Enter valid email
              ex:abc@gmail.com</mat-error>
          </mat-form-field>
        </div>
        <!-- phone number -->
        <div class="phone-number">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Phone number</mat-label>
            <input matInput placeholder="Enter Phone number" formControlName="phNo" />
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="registerForm.get('phNo').hasError('required')">Phone number is
              mandatory</mat-error>
            <mat-error *ngIf="registerForm.get('phNo').hasError('pattern')">Phone number
              must be 10 digits</mat-error>
          </mat-form-field>
        </div>
        <!-- user name -->
        <div class="user-name">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter Username" formControlName="userName" />
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngIf="registerForm.get('userName').hasError('required')">Username is
              mandatory</mat-error>
          </mat-form-field>
        </div>
        <!-- password container both password and confirm password -->
        <div class="password-container" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="password">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput [type]="!hide ? 'password' : 'text'" formControlName="password" />
              <mat-error>
                <mat-error
                  *ngIf="this.registerForm.get('password').touched && this.registerForm.get('password').hasError('required')">
                  Please provide a strong password</mat-error>
                <mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">
                  Password must be 6 character long</mat-error>
                <mat-error *ngIf="registerForm.controls['password'].hasError('maxlength')">
                  Password should not exceed 16 character</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="confirm-password">
            <mat-form-field appearance="outline">
              <mat-label>Confirm</mat-label>
              <input matInput [type]="!hide ? 'password' : 'text'" formControlName="cnfpassword" />
              <mat-error *ngIf="userInfo.cnfpassword.touched && userInfo.cnfpassword.errors">
                <mat-error *ngIf="userInfo.cnfpassword.errors.required">Please Re-Enter password
                </mat-error>
                <mat-error *ngIf="!userInfo.cnfpassword.errors.required && userInfo.cnfpassword.errors">
                  Password Must be same</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="symbol-password">
            <mat-icon matSuffix (click)="hide = !hide">
              {{ hide ? "visibility_off" : "visibility" }}
            </mat-icon>
          </div>
        </div>
        <!-- gender -->
        <div class="gender" align=start>
          <mat-radio-group matInput aria-labelledby="Select an option" formControlName="gender">
            <mat-radio-button value="male">Male</mat-radio-button>
            &nbsp;&nbsp;
            <mat-radio-button value="female">Female</mat-radio-button>
            &nbsp;&nbsp;
            <mat-radio-button value="other">Other</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="register" fxLayout="row" fxLayoutAlign="space-around center">
          <div class="seller">
            <button mat-raised-button type="submit" [disabled]="!registerForm.valid" (click)="onSellerRegisterSubmit()"
              id="register">Register as Seller</button>
          </div>
          <div class="user">
            <button mat-raised-button type="submit" [disabled]="!registerForm.valid" (click)="onRegisterSubmit()"
              id="register">Register as User</button>
          </div>
        </div>
        <div class="login-link">
          <a [routerLink]="['/login']">Sign in instead?</a>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>