.example-form {
  background-color: transparent;
  width: 500px;
  border-radius: 15px;
  box-shadow: 2px 4px 7px 1px;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.medium-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(~src\assets\log-reg-back.jpg);
  // background: #9796f0; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to right,
  //   #f80743,
  //   #9796f0
  // );
  //   background: linear-gradient(
  //   to right,
  //   #f706e3,
  //   #9796f0
  // );
}

.social-login {
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 37%;
}
.mat-form-field {
  font-size: 1.5em !important;
}
.mat-card {
  width: 500px;
}
.form-items {
  padding: 20px;
}
.example-full-width {
  width: 100%;
}
.medium-list {
  margin: auto;
  max-width: 600;
  min-width: 20;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.divider {
  margin-top: 10 px !important ;
  background-color: rgb(4, 4, 247);
  margin: 20px 10px;
  width: auto;
  height: 50px;
  text-decoration-color: white;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.login-button {
  justify-self: flex-start;
}

.list-viewer-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  text-align: center;
  color: whitesmoke;
}
.list-header-title {
  color: rgba(233, 114, 114, 0.54);
  background: rgba(0, 0, 0, 0.03);
  padding: 8px 20px;
  font-weight: bold;
}
.form-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.threed {
  color: opacity($color: rgb(22, 22, 26));
  color: rgba($color: rgb(12, 12, 12), $alpha: 1);
}
mat-radio-button {
  padding: 10px;
}
button:disabled {
  background: rgb(238, 220, 250);
}

.login-main {
  margin-top: 10%;
}
mat-card {
  // min-width: 40%;
  width: 100px;
}
a {
  color: black;
  text-decoration: none;
}
